doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Super Bank
    link(rel='stylesheet', href='css/app.css')
  body

  .container
  h1 Super Bank

    h3 Balance
      #display 1000

    input#amount(type="text" placeholder="Enter $ Amount")

    button.button#deposit Deposit
    button.button#withdraw Withdraw

  div
    table#ledger Ledger
      thead
        tr
          th Fee
          th Deposit
          th Withdraw
          th Balance
      tbody
        tr
          td
          td
          td
          td 1000





    script(src='js/vendor/jquery-2.1.0.js')
    script(src='js/source/main.js')
